.wr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  //margin-bottom: 20px;
}


.my_data_grid .MuiDataGrid-cell:focus-visible {
  outline: none;
}


.setting_panel {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn{
  margin-bottom: 30px;
}